.footer {
    background-image: url(../../img/bg.png);
    @include properties-for-background;
    &__title {
        width: 21%;
        padding-top: 118px;
        margin: 0 auto 70px;
        font-size: 35px;
        @include for-title-header-footer($white-color);
    }
    &__title:hover {
        @include title-hover;
    }
    &__line {
        @include line-for-header-footer($white-color);
        margin-bottom: 70px;
    }
    &__social {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        list-style: none;
        margin-top: 0;
        padding: 0;
    }
    &__item {
        margin-right: 40px;
    }
    &__item:last-child {
        margin-right: 0;
    }
    &__icon {
        color: $white-color;
        font-size: 40px;
        transition: all .3s ease;
    }
    &__icon:hover {
        color: #00FF00;
        font-size: 45px;
        box-shadow: inset 0 0 1em gold, 0 0 1em #7FFF00;
    }
}

.form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    &__wrap {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 80px;
    }
    &__description {
        width: 300px;
        margin-top: 0;
        margin-bottom: 70px;
    }
    &__description--first {
        margin-right: 60px;
    }
    &__description--second {
        margin-right: 0;
    }
    &__description--third {
        width: 670px;
        margin-bottom: 60px;
    }
    &__input {
        width: 100%;
        border: none;
        border-bottom-width: 2px;
        border-bottom-style: solid;
        border-bottom-color: $white-color;
        color: #676767;
        background: transparent;
        font-family: $first-font-family;
        font-size: 18px;
        font-style: italic;
        line-height: 40px;
    }
    &__input:focus {
        border: 2px solid #00FF00;
        font-size: 22px;
        color: #00FF00;
        outline: none;
        -webkit-box-shadow: inset 0px 0px 34px 0px rgba(0, 255, 0, 1);
        -moz-box-shadow: inset 0px 0px 34px 0px rgba(0, 255, 0, 1);
        box-shadow: inset 0px 0px 34px 0px rgba(0, 255, 0, 1);
        text-shadow: 0 0 0.2em #0000CD, 0 0 0.2em #0000CD;
    }
    &__btn {
        width: 183px;
        height: 60px;
        color: $white-color;
        border: 3px solid $white-color;
        margin-bottom: 122px;
        @include for-btn;
    }
    &__btn:hover {
        @include for-btn-hover;
    }
}
