.menu {
    display: flex;
    flex-flow: row wrap;
    padding-left: 0;
    justify-content: center;
    list-style: none;
    &__item {
        padding-right: 50px;
    }
    &__item:last-child {
        padding-right: 0px;
    }
    &__link {
        font-family: $first-font-family;
        font-size: $menu-font-size;
        color: $header-color;
        font-weight: 500;
        text-decoration: none;
        text-transform: uppercase;
    }
    &__link:hover {
        color: $color-blue;
        font-size: 16px;
        box-shadow: inset 0px 0px 34px 0px rgba(0, 255, 0, 1);
    }
}
