/*Global Veriables*/
$first-font-family: 'Lato', sans-serif;
$menu-font-size: 14px;
$header-color: #fffefe;
$second-font-family: 'Raleway', sans-serif;
$white-color: #ffffff;
$title-color: #222222;
$color-blue: #0000CD;
